Source: console-setup
Section: utils
Priority: important
Maintainer: Console utilities maintainers <pkg-kbd-devel@lists.alioth.debian.org>
Uploaders: Anton Zinoviev <anton@lml.bas.bg>
Build-Depends-Indep: debhelper (>= 5), perl, po-debconf, libxml-parser-perl
Standards-Version: 3.6.2

Package: console-setup
Section: utils
Architecture: all
Recommends: kbd (>= 0.99-12) | console-tools (>= 1:0.2.3-16)
Depends: debconf (>= 0.5) | debconf-2.0
Description: Setup the font and keymap on the console
 This package includes all the necessary data - console fonts, maps
 defining the standard charsets for use by text applications, etc.
