Source: console-setup
Section: utils
Priority: important
Maintainer: Console utilities maintainers <pkg-kbd-devel@lists.alioth.debian.org>
Uploaders: Anton Zinoviev <zinoviev@debian.org>
Build-Depends-Indep: debhelper (>= 5), perl, po-debconf, libxml-parser-perl
Standards-Version: 3.6.2

Package: console-setup
Section: utils
Architecture: all
Recommends: kbd (>= 0.99-12) | console-tools (>= 1:0.2.3-16)
Depends: debconf (>= 0.5) | debconf-2.0, console-terminus
Description: Setup the font and keymap on the console
 This package includes all the necessary data - console fonts, maps
 defining the standard charsets for use by text applications, etc.

Package: bdf2psf
Architecture: all
Section: utils
Priority: optional
Description: Font convertor to generate console fonts from BDF source fonts
 This is a command line convertor that can be used in scripts to build
 automatically console fonts from BDF sources.  The convertor comes
 with a collection of font encodings that cover most of the world
 languages; notice that the font encoding (so called SFM) does not
 need to follow the actually used encoding (so called ACM).  When the
 source font does not define a glyph for a symbol in the font encoding
 the glyph position in the console font is not wasted but used for
 another symbol.
 .
 The convertor knows that in text video modes the video adapter copyes
 the 8th column in the 9th column in the glyph matrix of the symbols
 positioned in the pseudographic area and is very carefull when
 deciding about the position of a glyph.  In order to create fonts for
 text video modes the width of the glyph matrix of the source BDF font
 should be 7, 8 or 9 pixels, otherwise the convertor creates fonts
 suitable for framebuffer only.
