#!/usr/bin/make -f

SHELL = /bin/bash

xkbdir = /usr/share/X11/xkb
export xkbdir
pre = debian/preprocessor

main_build:
	$(MAKE) build-all xkbdir=$(xkbdir)
	touch main_build

debian/kbdnames.gz: main_build
	( cd Keyboard \
	&& ./kbdnames-maker KeyboardNames.pl \
		| grep -v '^C[*]' | grep -v '[*]model[*]' | sort | gzip -9 ) >$@

build: main_build debian/kbdnames.gz

.PHONY : clean
clean:
	dh_testdir
	debconf-updatepo
	$(MAKE) maintainer-clean
	-rm -f build main_build
	-rm -f debian/kbdnames.gz
	-rm -f debian/*~
	dh_clean

.PHONY : install
install: install-configuration install-linux install-freebsd install-mini-linux install-bdf2psf install-udeb

.PHONY : install-configuration
install-configuration: build
	dh_testdir
	dh_testroot
	dh_prep -pkeyboard-configuration
	install -d debian/keyboard-configuration/usr/share/console-setup/
	cp config.kbd debian/keyboard-configuration/usr/share/console-setup/keyboard
	dh_link -pkeyboard-configuration usr/share/console-setup/keyboard usr/share/doc/keyboard-configuration/examples/keyboard
	install -d debian/keyboard-configuration/usr/share/console-setup
	install -m 644 Keyboard/KeyboardNames.pl debian/keyboard-configuration/usr/share/console-setup/
	install -m 644 Keyboard/kbdnames-maker debian/keyboard-configuration/usr/share/console-setup/
	dh_installinit --no-start --name keyboard-setup -- start 06 S .
	dh_installinit --no-start --name console-setup -- start 49 S .
	install -d debian/keyboard-configuration/usr/share/lintian/overrides
	install -m 644 debian/lintian.overrides \
		debian/keyboard-configuration/usr/share/lintian/overrides/keyboard-configuration

.PHONY : install-linux
install-linux: build
	dh_testdir
	dh_testroot
	dh_prep -pconsole-setup
	dh_prep -pconsole-setup-linux
	$(MAKE) etcdir=debian/console-setup/etc \
		prefix=debian/console-setup/usr install-linux
	rm debian/console-setup/usr/share/consolefonts/*-Terminus*.psf.gz
	dh_movefiles -pconsole-setup-linux --sourcedir=debian/console-setup \
		usr/share/consolefonts \
		usr/share/consoletrans \
		etc/console-setup/remap.inc
	mv debian/console-setup/etc/console-setup/compose.* debian/console-setup-linux/etc/console-setup/
	rm -rf debian/console-setup/etc/console-setup/ckb/
	install -d debian/console-setup/usr/share/console-setup/
	rm debian/console-setup/etc/default/keyboard
	mv debian/console-setup/etc/default/console-setup \
		debian/console-setup/usr/share/console-setup/
	dh_link -pconsole-setup usr/share/console-setup/console-setup \
		 usr/share/doc/console-setup/examples/console-setup

.PHONY : install-freebsd
install-freebsd: build install-linux
	dh_testdir
	dh_testroot
	dh_prep -pconsole-setup-freebsd
	$(MAKE) etcdir=debian/console-setup-freebsd/etc \
		prefix=debian/console-setup-freebsd/usr install-freebsd
	( cd debian/console-setup-freebsd && find . ) | sort -r | \
		while read x; do \
			if [ -f debian/console-setup/"$$x" ]; then \
				rm debian/console-setup-freebsd/"$$x" >/dev/null 2>&1 || true; \
			elif [ -d debian/console-setup/"$$x" ]; then \
				rmdir debian/console-setup-freebsd/"$$x" >/dev/null 2>&1 || true; \
			fi; \
		done

.PHONY : install-mini-linux
install-mini-linux: build
	dh_testdir
	dh_testroot
	dh_prep -pconsole-setup-mini
	$(MAKE) etcdir=debian/console-setup-mini/etc \
		prefix=debian/console-setup-mini/usr install-mini-linux
	dh_install -p console-setup-mini debian/kbdnames.gz usr/share/console-setup-mini
	rm debian/console-setup-mini/etc/default/keyboard
	rm debian/console-setup-mini/etc/default/console-setup 
	$(pre) --mini debian/console-setup-mini/bin/setupcon
	$(pre) --mini debian/console-setup-mini/usr/bin/ckbcomp-mini

.PHONY : install-bdf2psf
install-bdf2psf: build
	dh_testdir
	dh_testroot
	dh_prep -pbdf2psf
	dh_install -pbdf2psf Fonts/bdf2psf usr/bin/
	dh_install -pbdf2psf Fonts/*.equivalents Fonts/*.set \
		Fonts/fontsets usr/share/bdf2psf
	dh_installman -pbdf2psf Fonts/bdf2psf.1
	dh_installdocs -pbdf2psf debian/README.fontsets

.PHONY : install-udeb
install-udeb: build
	dh_testdir
	dh_testroot
	dh_prep -pconsole-setup-amiga-ekmap
	dh_prep -pconsole-setup-ataritt-ekmap
	dh_prep -pconsole-setup-macintoshold-ekmap
	dh_prep -pconsole-setup-pc-ekmap
	dh_prep -pconsole-setup-sun4-ekmap
	dh_prep -pconsole-setup-sun5-ekmap
	dh_prep -pconsole-setup-fonts-udeb
	dh_prep -pconsole-setup-udeb
	$(MAKE) etcdir=debian/console-setup-udeb/etc \
		prefix=debian/console-setup-udeb/usr install-mini-linux
# console-setup-udeb
	rm debian/console-setup-udeb/etc/default/keyboard
	rm debian/console-setup-udeb/etc/default/console-setup 
	rm -r debian/console-setup-udeb/usr/share/man
	dh_installdirs -p console-setup-udeb usr/share/console-setup-mini
	install -m0755  debian/keyboard-configuration.config \
		debian/console-setup-udeb/usr/share/console-setup-mini
	dh_install -p console-setup-udeb debian/kbdnames.gz usr/share/console-setup-mini
	dh_installdirs -p console-setup-udeb lib/debian-installer.d
	install -m0644 debian/console-setup-udeb.startup \
		debian/console-setup-udeb/lib/debian-installer.d/S55console-setup
	dh_installdirs -p console-setup-udeb usr/lib/base-installer.d
	install -m0755 debian/console-setup-udeb.base-installer \
		debian/console-setup-udeb/usr/lib/base-installer.d/20console-setup
	dh_installdirs -p console-setup-udeb etc/default
	dh_installdirs -p console-setup-udeb etc/console-setup/
	install -m 644 config.kbd debian/console-setup-udeb/usr/share/console-setup-mini/keyboard
# console-setup-*-ekmap
	dh_movefiles -p console-setup-amiga-ekmap --sourcedir=debian/console-setup-udeb usr/share/console-setup-mini/amiga.ekmap.gz
	dh_movefiles -p console-setup-ataritt-ekmap --sourcedir=debian/console-setup-udeb usr/share/console-setup-mini/ataritt.ekmap.gz
	dh_movefiles -p console-setup-macintoshold-ekmap --sourcedir=debian/console-setup-udeb usr/share/console-setup-mini/macintosh_old.ekmap.gz
	dh_movefiles -p console-setup-pc-ekmap --sourcedir=debian/console-setup-udeb usr/share/console-setup-mini/pc105.ekmap.gz
	dh_movefiles -p console-setup-sun4-ekmap --sourcedir=debian/console-setup-udeb usr/share/console-setup-mini/sun4.ekmap.gz
	dh_movefiles -p console-setup-sun5-ekmap --sourcedir=debian/console-setup-udeb usr/share/console-setup-mini/sun5.ekmap.gz
# console-setup-fonts-udeb
	dh_movefiles -pconsole-setup-fonts-udeb --sourcedir=debian/console-setup-udeb usr/share/consolefonts
#
	$(pre) --mini debian/console-setup-udeb/usr/lib/base-installer.d/20console-setup
	$(pre) --mini debian/console-setup-udeb/usr/share/console-setup-mini/keyboard-configuration.config
	$(pre) --mini debian/console-setup-udeb/bin/setupcon
	$(pre) --mini debian/console-setup-udeb/usr/bin/ckbcomp-mini

# Build architecture-independent files here.
.PHONY : binary-indep
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs -pkeyboard-configuration
	dh_installdocs -pconsole-setup README*
	dh_installdocs -pconsole-setup FAQ
	dh_installdocs
	dh_install -p console-setup copyright.fonts \
		 usr/share/doc/console-setup
	dh_install -p console-setup-linux copyright.fonts \
		 usr/share/doc/console-setup-linux
	dh_install -p console-setup-freebsd copyright.fonts \
		 usr/share/doc/console-setup-freebsd
	dh_install -p console-setup-mini copyright.fonts \
		 usr/share/doc/console-setup-mini
	dh_installman
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	$(pre) debian/keyboard-configuration/DEBIAN/config
	$(pre) debian/keyboard-configuration/DEBIAN/postinst
	$(pre) debian/console-setup/DEBIAN/config
	$(pre) debian/console-setup/DEBIAN/postinst
	$(pre) --mini debian/console-setup-udeb/DEBIAN/postinst
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
.PHONY : binary-arch
binary-arch : build install
# We have nothing to do by default.

.PHONY : binary
binary : binary-indep binary-arch
