#!/usr/bin/make -f

SHELL = /bin/bash
export DH_COMPAT=5

main_build:
	$(MAKE)
	touch main_build

debian/config: debian/config.proto main_build
	awk ' \
/## *FONTSETS *##/ { \
    printf "fontsets='\''"; \
    system("cd Fonts && ls *.psf | sed '\''s/.psf$$//'\''"); \
    printf "'\''"; \
    next; \
} \
/## *CHARMAPS *##/ { \
    printf "charmaps='\''"; \
    system("cd Keyboard && ls acm/*.acm |sed -e '\''s/^acm.//'\'' -e '\''s/.acm$$//'\''"); \
    printf "UTF-8'\''\n"; \
    next; \
} \
/## *KBDNAMES *##/ { \
    printf "kbdnames='\''"; \
    system("cd Keyboard && ./kbdnames-maker"); \
    printf "'\''"; \
    next; \
} \
{ \
   print; \
}' debian/config.proto >debian/config

build: main_build debian/config

.PHONY : clean
clean:
	dh_testdir
	-$(MAKE) maintainer-clean
	-rm -f build main_build
	-rm -f debian/config
	-rm -f debian/*~
	dh_clean

.PHONY : install
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) etcdir=debian/console-setup/etc \
		prefix=debian/console-setup/usr install
	rm debian/console-setup/usr/share/consolefonts/*-Terminus*.psf.gz
	install -d debian/console-setup/usr/share/doc/console-setup/examples/
	mv debian/console-setup/etc/default/console-setup \
		debian/console-setup/usr/share/doc/console-setup/examples/
	dh_install -pbdf2psf Fonts/bdf2psf usr/bin/
	dh_install -pbdf2psf Fonts/*.equivalents Fonts/*.set \
		Fonts/fontsets usr/share/bdf2psf
	rm -rf `find debian/console-setup -name .cvsignore`
	rm -rf `find debian/console-setup -name .svn`
	rm -rf `find debian/bdf2psf -name .svn`
	dh_installinit --no-start --name keyboard-setup -- start 06 S .
	dh_installinit --no-start -- start 49 S .

# Build architecture-independent files here.
.PHONY : binary-indep
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installxfonts
	dh_installdebconf
	dh_installdocs -pconsole-setup README*
	dh_installdocs -pbdf2psf debian/README.fontsets
	cp copyright.fonts copyright.X debian/console-setup/usr/share/doc/console-setup/
#	dh_installexamples
	dh_installman -pbdf2psf Fonts/bdf2psf.1
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
#	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
.PHONY : binary-arch
binary-arch : build install
# We have nothing to do by default.

.PHONY : binary
binary : binary-indep binary-arch
